

/* Article  */
.article-title {
  text-align: center;
}
.comment-bar {
  display: flex;
  flex-wrap: wrap;
  width: 33%;
  margin: 0 auto;
  justify-content: space-around;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #555555;
}
.article {
  margin: 50px 50px;
}
.article img {
  width: 80%;
  max-height: 560px;

  
  
}
.article p {
  width: 75%;
  margin: 30px auto;
  text-align: justify;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
}
