.header-gap {
  height: 130px;
}

.blog-page {
  height: 210px;
  display: flex;
  background: #efefef;
}
.blog-page .blog-image img {
  color: rgba(85, 85, 85, 0.7);
  margin-top: 154px;
  margin-left: 360px;
  font-size: 30px;
}

.blog-page .less-than img {
  color: rgba(85, 85, 85, 0.7);
  margin-top: 161px;
  margin-left: 16px;
  font-size: 30px;
}
.blog-page h1 {
  color: rgba(85, 85, 85, 0.7);
  margin-top: 158px;
  margin-left: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* Article  */
.article-title {
  text-align: center;
}
.comment-bar {
  display: flex;
  width: 33%;
  margin: 0 auto;
  justify-content: space-around;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
}
.article {
  margin: 50px 50px;
}
.article img {
  width: 80%;
}
.article p {
  width: 80%;
  margin: 30px auto;
  text-align: justify;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
}

