

.author-main {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.author-description {
  flex-basis: 700px;
}
.author-description h1 {
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 45px;
  margin: 38px 0 18px;

  letter-spacing: 0.05em;
  text-align: center;
  color: #666666;
}
.author-description p {
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-align: justify;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  margin: 18px 66px 29px;
  color: #555555;
}

.author-contact {
  display: flex;
  flex-wrap: wrap;
  
}
.contact {
  flex-basis: 700px;
  margin-bottom: 100px;
  
}

.follow {
  text-align: center;
  flex-basis: 700px;
  margin-bottom: 100px;
}

.contact-title,
.follow-title {
  font-family: Quicksand;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 45px;
  text-align: center;

  letter-spacing: 0.05em;
  text-transform: capitalize;

  color: #666666;
}

.author-email,
.author-phone {
  position: relative;
  
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  text-align: center;

  letter-spacing: 0.03em;
  text-transform: lowercase;
  margin-top: 32px;
  color: #666666;
}
.author-email::before {
  position: absolute;
  content: "\f0e0";
  font-family: "Font Awesome 5 Free";
  font-weight: 100;
  left:28%;
  font-size: 24px;
  color: #8ab929;
}
.author-phone::before {
  position: absolute;
  content: "\f87b";
  font-family: "Font Awesome 5 Free";
  font-weight: 100;
  left: -40px;
  font-size: 24px;
  color: #8ab929;
}

.author-social-link {
  width: 300px;
  height: 50px;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  text-align: center;
  line-height: 30px;
  margin-top: 60px;
}
.fa-facebook,
.fa-twitter,
.fa-instagram,
.fa-youtube {
  width: 25px;
  height: 25px;
  font-size: 36px;
  cursor: pointer;
  color: #8ab929;
}
.social-author {
  width: 60px;
  height: 60px;
  border: 1px solid #8ab929;
  box-sizing: border-box;
  border-radius: 50%;
  line-height: 60px;
}
