.header-gap {
  height: 130px;
}

.blog-page {
  height: 210px;
  display: flex;
  background: #efefef;
}
.blog-page .blog-image img {
  color: rgba(85, 85, 85, 0.7);
  margin-top: 154px;
  margin-left: 360px;
  font-size: 30px;
}

.blog-page .less-than img {
  color: rgba(85, 85, 85, 0.7);
  margin-top: 161px;
  margin-left: 16px;
  font-size: 30px;
}
.blog-page h1 {
  color: rgba(85, 85, 85, 0.7);
  margin-top: 158px;
  margin-left: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.sign-in-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.login-image {
  flex-basis: 60%;
  min-width: 800px;
}

.login-image img {
  width: 800px;
}
.sign-in-form {
  flex-basis: 40%;
  min-width: 550px;
  
}

.sign-in-title {
  margin: 43px 0 17px 0;
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 37px;
  /* identical to box height */

  letter-spacing: 0.03em;
  text-transform: capitalize;

  color: #555555;
}

.sign-in-title h1 {
  text-align: center;
}
.signin-email,
.password,
.login-checkbox,
.signin-button,
.signin-google,
.sign-up {
  margin: 0 auto;
}
label {
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  /* identical to box height */
  margin-bottom: 5px;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  margin: 0 75px 0;
  color: #555555;
}

input[type="email"],
input[type="password"] {
  width: 400px;
  height: 50px;
  margin: 15px 75px 15px;
  border: 1px solid #555555;
  border-radius: 2px;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;

  border: 1px solid #555555;
  border-radius: 2px;
  margin-top: 25px;
}
.login-checkbox {
  width: 400px;
}

.login-checkbox span {
  font-family: Quicksand;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */
  margin-left: 30px;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  margin-top: 26px;
  color: #000000;
}
.login-checkbox a {
  font-family: Quicksand;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  margin-left: 80px;
  margin-top: 25px;
  letter-spacing: 0.05em;
  text-decoration-line: underline;
  text-transform: capitalize;

  color: #555555;
}

input[type="submit"] {
  margin: 25px 75px 0;

  width: 400px;
  height: 50px;

  border: none;
  outline: none;
  background: #8ab929;
  border-radius: 2px;
  font-family: Quicksand;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 27px;
  /* identical to box height */

  letter-spacing: 0.05em;

  color: #ffffff;
}
.or {
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  position: relative;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  margin-top: 15px;
  color: #666666;
}
input[type="button"] {
  height: 50px;
  width: 400px;
  margin: 0px 75px 52px;
  border: 1px solid #555555;
  border-radius: 2px;

  outline: none;
  font-family: Quicksand;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  cursor: pointer;

  letter-spacing: 0.05em;
  text-transform: capitalize;
  background: transparent;
  color: #000000;
}
.signin-google {
  position: relative;
  top: 10px;
}

.signin-google img {
  position: absolute;
  top: 10px;
  left: 100px;
}
.sign-up {
  margin: 0 75px 38px;
}

.sign-up span {
  font-family: Quicksand;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  /* identical to box height */

  letter-spacing: 0.05em;

  color: #000000;
}

.sign-up a {
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;

  letter-spacing: 0.05em;

  margin-left: 50px;
  color: #000000;
}

::placeholder {
  padding-left: 20px;
  font-family: Quicksand;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  /* identical to box height */

  letter-spacing: 0.05em;
  text-transform: capitalize;

  color: rgba(102, 102, 102, 0.5);
}
