.sign-up-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.login-image {
  flex-basis: 850px;
}

.login-image img {
  width: 850px;
}
.reset-password-form {
  flex-basis: 550px;
}

.reset-password-title {
  margin: 43px 0 17px 0;
}

.reset-password-title h1 {
  text-align: center;
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 37px;
  /* identical to box height */

  letter-spacing: 0.03em;
  text-transform: capitalize;

  color: #555555;
}

.reset-password-title h2 {
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */

  letter-spacing: 0.03em;
  margin-top: 30px;
  color: #000000;
}

label {
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  /* identical to box height */
  margin-bottom: 5px;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  margin: 0 75px 0;
  color: #555555;
}

input[type="email"] {
  width: 400px;
  height: 50px;
  margin: 15px 75px 15px;
  border: 1px solid #555555;
  border-radius: 2px;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;

  border: 1px solid #555555;
  border-radius: 2px;
  margin-top: 25px;
}

.checkbox span {
  font-family: Quicksand;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */
  margin-left: 30px;
  letter-spacing: 0.05em;
  text-transform: capitalize;

  color: #000000;
}

input[type="submit"] {
  margin: 25px 75px 0;

  width: 400px;
  height: 50px;

  border: none;
  outline: none;
  background: #8ab929;
  border-radius: 2px;
  font-family: Quicksand;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 27px;
  cursor: pointer;

  letter-spacing: 0.05em;

  color: #ffffff;
}
.or {
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  position: relative;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  margin-top: 15px;
  color: #666666;
}
input[type="button"] {
  height: 50px;
  width: 400px;
  margin: 0px 75px 52px;
  border: 1px solid #555555;
  border-radius: 2px;

  outline: none;
  font-family: Quicksand;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  cursor: pointer;

  letter-spacing: 0.05em;
  text-transform: capitalize;
  background: transparent;
  color: #000000;
}
.signup-google {
  position: relative;
  top: 10px;
}

.signup-google img {
  position: absolute;
  top: 10px;
  left: 100px;
}
.sign-in {
  margin: 0 75px 38px;
}

.sign-in span {
  font-family: Quicksand;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  /* identical to box height */

  letter-spacing: 0.05em;

  color: #000000;
}

.sign-in a {
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;

  letter-spacing: 0.05em;

  margin-left: 50px;
  color: #000000;
}

::placeholder {
  padding-left: 20px;
  font-family: Quicksand;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  /* identical to box height */

  letter-spacing: 0.05em;
  text-transform: capitalize;

  color: rgba(102, 102, 102, 0.5);
}
